.container {
  display: flex;
  border: 2px solid black;
  height: 361px;
  width: 400px;
  margin: auto;
  margin-top: 150px;
  flex-wrap: wrap;
  background-image: radial-gradient(grey, black);
  border-radius: 25px;
}

#output {
  margin: 20px;
  width: 352px;
  height: 50px;
  background-color: ivory;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 73px;
  height: 50px;
  border-radius: 20px;
  font-weight: bold;
  font-family: "Tektur", cursive;
  transition: 0.2s;
  background-color: azure;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.button:active {
  border: 2px dotted burlywood;
}
